<!-- Bootstrap Core CSS -->
<link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

<!-- MetisMenu CSS -->
<link href="/stylesheets/metisMenu.min.css" rel="stylesheet">

<!-- DataTables CSS -->
<link href="/stylesheets/dataTables/dataTables.bootstrap.css" rel="stylesheet">

<!-- DataTables Responsive CSS -->
<link href="/stylesheets/dataTables/dataTables.responsive.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="/stylesheets/startmin.css" rel="stylesheet">

<!-- Custom Fonts -->
<link href="/stylesheets/font-awesome.min.css" rel="stylesheet" type="text/css">