<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%=title%></title>

    <% include css.ejs%>
</head>

<body>

    <div id="wrapper">

        <% include navbar.ejs%>

        <div id="page-wrapper">
            