<!-- jQuery -->
<script src="/javascripts/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/javascripts/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="/javascripts/metisMenu.min.js"></script>

<!-- DataTables JavaScript -->
<script src="/javascripts/dataTables/jquery.dataTables.min.js"></script>
<script src="/javascripts/dataTables/dataTables.bootstrap.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/javascripts/startmin.js"></script>