<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
         <a class="navbar-brand" href="/">HELPDESK</a>
    </div>

    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>

    <ul class="nav navbar-nav navbar-left navbar-top-links">
        <li><a href="/"><i class="fa fa-home fa-fw"></i> Home</a></li>
    </ul>

    <ul class="nav navbar-right navbar-top-links">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> user <b class="caret"></b>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="/user/update/<%=user_id%>"><i class="fa fa-user fa-fw"></i> User Profile</a>
                </li>
                <li class="divider"></li>
                <li><a href="/authen/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- /.navbar-top-links -->

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li class="sidebar-search">
                </li>
                <li>
                    <a href="/"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                </li>
                <li>
                    <a href="/user"><i class="fa fa-users fa-fw"></i> Users</a>
                </li>
                <li>
                    <a href="/department"><i class="fa fa-building fa-fw"></i> Department</a>
                </li>
                <li>
                    <a href="/complaint"><i class="fa fa-tasks fa-fw"></i> Complaints</a>
                </li>
                <li>
                    <a href="/category"><i class="fa fa-tags fa-fw"></i> Category</a>
                </li>
                <li>
                    <a href="/article"><i class="fa fa-book fa-fw"></i> Article</a>
                </li>
            </ul>
        </div>
    </div>
</nav>