<% var title = "Manage Article" %>
<% include shared/header.ejs %>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header" style="text-align: center;">ARTICLE</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <button type="button" class="btn btn-primary" id="article_add" style="color:antiquewhite" data-toggle="modal" data-target="#ArticleModal">CREATE ARTICLE</button>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="table_article">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Content</th>
                            <th>Author</th>
                            <th>Created</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <% articles.forEach(function(article) { %>
                            <tr>
                                <td id="<%=article.id%>"><%=article.title%></td>
                                <td><%=article.content%></td>
                                <td><%=article.author%></td>
                                <td><%=article.created%></td>
                                <td>
                                    <button type="button" class="btn btn-success article_edit" data-toggle="modal" data-target="#ArticleModal">EDIT</button>
                                    <form method="POST" action="/article/delete" style="display: inline;">
                                        <input type="text" name="id" value="<%=article.id%>" style="display: none;">
                                        <button type="submit" class="btn btn-danger" id="btn_delete">DELETE</button>
                                    </form>
                                </td>
                            </tr>
                        <% }); %>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<!-- Modal -->
<div class="modal fade" id="ArticleModal" tabindex="-1" role="dialog" aria-labelledby="ArticleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form id="article_form" method="POST">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="ArticleModalLabel">Update Article</h4>
                </div>
                <div class="modal-body">            
                    <div class="form-group input-group">
                        <span class="input-group-addon">Title</span>
                        <input id="article_update_title" class="form-control" type="text" name="title" required/>
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon">Content</span>
                        <textarea class="form-control" rows="3" name="content" id="article_update_content" required></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </form>
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<% include shared/footer.ejs %>

<script>
    $(document).ready(function () {
        $('#table_article').DataTable({
            columnDefs: [
                {
                    orderable: false,
                    targets: [1, 4]
                }
            ]
        });

        $('.article_edit').click(function(){
            var id = $(this).closest('tr').find('td:first').attr('id');
            var title = $(this).closest('tr').find('td:first').text();
            var content = $(this).closest('tr').find('td:nth-child(2)').text();
            $('#article_form').attr('action', '/article/update/'+id);
            $('#article_update_title').val(title);
            $('#article_update_content').val(content);
        });

        $('#article_add').click(function(){
            $('#article_form').attr('action', '/article/update/0');
            $('#article_update_title').val('');
            $('#article_update_content').val('');
        });

        $('#article_form').submit(function(event) {
            var title = $('#article_update_title').val();
            if(title.trim() == '') {
                event.preventDefault();
                alert('Invalid title');
                return;
            }

            var content = $('#article_update_content').val();
            if(content.trim() == '') {
                event.preventDefault();
                alert('Invalid content');
                return;
            }

        });
    });
</script>