<% var title = "Update Complaint" %>
<% include shared/header.ejs %>

<% {
var priorities = [
    {id: 1, name: 'Low'},
    {id: 2, name: 'Normal'},
    {id: 3, name: 'High'},
];

var statuses = [
    {id: 1, name: 'Open'},
    {id: 5, name: 'Assigned'},
    {id: 3, name: 'Require Confirmation'},
    {id: 2, name: 'Resolved'},
    {id: 4, name: 'Rejected'},
]
} %>

<%
if(typeof complaint == 'undefined') {
    var complaint = {
        id: 0,
        subject: '',
        category: '',
        content: '',
        deadline: '',
        department: '',
        priority: '',
        rejectReason: '',
        resolveTime: '',
        status: '',
        technician: [],
    }
}
%>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">COMPLAINT</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-6" style="margin-left: 20%;">
        <form method="POST" action="/complaint/update/<%=complaint.id%>" id="complaint_form">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="/complaint" type="button" class="btn btn-primary" style="color:antiquewhite">BACK</a>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="form-group input-group">
                        <span class="input-group-addon">Priority</span>
                        <select class="form-control" name="priority" id="priority" required>
                            <% priorities.forEach(function(val){ %>
                                <option value="<%=val.id%>" <%=complaint.priority == val.id ? 'selected' : ''%>><%=val.name%></option>                                
                            <% }) %>
                        </select>
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon">Category</span>
                        <select class="form-control" name="category" id="category">
                            <option value="0"></option>
                            <% categories.forEach(function(val){ %>
                                <option value="<%=val.id%>" <%=complaint.category == val.id ? 'selected' : ''%>><%=val.name%></option>                                
                            <% }) %>
                        </select>
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon">Subject</span>
                        <input type="text" class="form-control" placeholder="Subject" name="subject" id="subject" value="<%=complaint.subject%>" required>
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon">Content</span>
                        <textarea class="form-control" rows="3" name="content" id="content" required><%=complaint.content%></textarea>
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon">Department</span>
                        <select class="form-control" name="department" id="department">
                            <option value="0"></option>
                            <% departments.forEach(function(val){ %>
                                <option value="<%=val.id%>" <%=complaint.department == val.id ? 'selected' : ''%>><%=val.name%></option>                                
                            <% }) %>
                        </select>
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon">Status</span>
                        <select class="form-control" name="status" id="status" required>
                            <% statuses.forEach(function(val){ %>
                                <option value="<%=val.id%>" <%=complaint.status == val.id ? 'selected' : ''%>><%=val.name%></option>                                
                            <% }) %>
                        </select>
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon">Deadline</span>
                        <input type="datetime-local" class="form-control" placeholder="Deadline" name="deadline" id="deadline" value="<%=complaint.deadline%>">
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon">Resolve Time</span>
                        <input type="datetime-local" class="form-control" placeholder="Resolve Time" name="resolve_time" id="resolve_time" value="<%=complaint.resolveTime%>">
                    </div>
                    <div id="reject_reason_div" class="form-group input-group" <% if(complaint.status != 4) { %> style="display: none;" <% } %>>
                        <span class="input-group-addon">Reject Reason</span>
                        <input type="text" class="form-control" placeholder="Reject Reason" name="reject_reason" id="c" value="<%=complaint.rejectReason%>">
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon">Technician</span>
                        <select class="form-control" multiple name="technician" id="technician">
                            <option value="0" selected></option>
                            <% technicians.forEach(function(val){ %>
                                <option value="<%=val.id%>" <%=(complaint.technician.includes(parseInt(val.id, 10)) ? 'selected' : '')%>><%=val.name%></option>                                
                            <% }) %>
                        </select>
                    </div>
                </div>
                <!-- /.panel-body -->
                <div class="panel-footer" style="text-align: end">
                    <button type="submit" class="btn btn-primary">SAVE</button>
                </div>
                <!-- /.panel-footer -->
            </div>
            <!-- /.panel -->
        </form>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<% include shared/footer.ejs %>

<script>
    $(document).ready(function() {
        $('#complaint_form').submit(function(event) {
            var subject = $('#subject').val();
            if(subject.trim() == '') {
                event.preventDefault();
                alert('Invalid subject');
                return;
            }

            var content = $('#content').val();
            if(content.trim() == '') {
                event.preventDefault();
                alert('Invalid content');
                return;
            }
        });

        $('#status').change(function() {
            if ($(this).val() == 4) {
                $('#reject_reason_div').show();
            } else {
                $('#reject_reason_div').hide();
            }
        });
    });
    
</script>