<% var title = "Manage Complaint" %>
<% include shared/header.ejs %>

<% {
var priorities = new Map();
priorities.set('1', 'Low');
priorities.set('2', 'Normal');
priorities.set('3', 'High');
}%>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header" style="text-align: center;">COMPLAINTS</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="/complaint/add" type="button" class="btn btn-primary" style="color:antiquewhite">CREATE COMPLAINT</a>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="table_complaint">
                        <thead>
                        <tr>
                            <th>Priority</th>
                            <th>Category</th>
                            <th>Subject</th>
                            <th>Content</th>
                            <th>Department</th>
                            <th>Status</th>
                            <th>Sender</th>
                            <th>Deadline</th>
                            <th>Resolved</th>
                            <th>Technician</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <% complaints.forEach(function(complaint) { %>
                            <tr>
                                <td><%= (typeof complaint.field_priority != 'undefined') ? priorities.get(complaint.field_priority) : '' %></td>
                                <td><%= (typeof complaint.field_category != 'undefined' && complaint.field_category.length > 0) ? complaint.field_category[0].name : '' %></td>
                                <td><%= (typeof complaint.title != 'undefined') ? complaint.title : '' %></td>
                                <td><%= (typeof complaint.field_content != 'undefined') ? complaint.field_content : '' %></td>
                                <td><%= (typeof complaint.field_department != 'undefined') ? complaint.field_department.name : '' %></td>
                                <td><%= (typeof complaint.field_status != 'undefined') ? complaint.field_status.name : '' %></td>
                                <td><%= (typeof complaint.author != 'undefined') ? complaint.author.name : '' %></td>
                                <td><%= (typeof complaint.field_deadline != 'undefined') ? complaint.field_deadline : '' %></td>
                                <td><%= (typeof complaint.field_resolve_time != 'undefined') ? complaint.field_resolve_time : '' %></td>
                                <%
                                    var technician = '';
                                    if (typeof complaint.field_technician != 'undefined' && complaint.field_technician.length > 0) {
                                        complaint.field_technician.forEach(function (val) {
                                            technician += '<span>' + val.name + '</span><br/>';
                                        })
                                    }
                                %>
                                <td><%- technician %></td>
                                <td>
                                    <a href="/complaint/update/<%= complaint.nid %>" type="button"
                                       class="btn btn-success">EDIT</a>
                                    <form method="POST" action="/complaint/delete" style="display: inline;">
                                        <input type="text" name="id" value="<%=complaint.nid%>" style="display: none;">
                                        <button type="submit" class="btn btn-danger" id="btn_delete">DELETE</button>
                                    </form>
                                </td>
                            </tr>
                        <% }); %>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<% include shared/footer.ejs %>

<script>
    $(document).ready(function () {
        $('#table_complaint').DataTable({
            scrollX: true,
            ordering: false,
            scrollY: '500px',
        });
    });
</script>