<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Startmin - Bootstrap Admin Theme</title>

        <!-- Bootstrap Core CSS -->
        <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

        <!-- MetisMenu CSS -->
        <link href="/stylesheets/metisMenu.min.css" rel="stylesheet">

        <!-- Timeline CSS -->
        <link href="/stylesheets/timeline.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="/stylesheets/startmin.css" rel="stylesheet">

        <!-- Morris Charts CSS -->
        <link href="/stylesheets/morris.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="/stylesheets/font-awesome.min.css" rel="stylesheet" type="text/css">
    </head>
    <body>

        <div id="wrapper">

            <% include shared/navbar.ejs %>

            <div id="page-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Dashboard</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-tasks fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge"><%=data.active_complaints.count%></div>
                                        <div>Active Complaints</div>
                                    </div>
                                </div>
                            </div>
                            <a href="/complaint">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-red">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-tasks fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge"><%=data.inactive_complaints.count%></div>
                                        <div>Inactive Complaints</div>
                                    </div>
                                </div>
                            </div>
                            <a href="/complaint">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-yellow">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-users fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge"><%=data.active_users.count%></div>
                                        <div>Total Users</div>
                                    </div>
                                </div>
                            </div>
                            <a href="/user">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-book fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge"><%=data.articles.count%></div>
                                        <div>Total Articles</div>
                                    </div>
                                </div>
                            </div>
                            <a href="/article">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Deadline Report
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div id="deadline_report"></div>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-8">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-bar-chart-o fa-fw"></i> 
                                Complaints By Status
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="flot-chart">
                                    <div class="flot-chart-content" id="complaints_by_status_chart"></div>
                                </div>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-bar-chart-o fa-fw"></i> 
                                Complaints By Priority
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div id="complaints_by_priority_chart"></div>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                    </div>
                </div>
                
            </div>
            <!-- /#page-wrapper -->

        </div>
        <!-- /#wrapper -->

        <!-- jQuery -->
        <script src="/javascripts/jquery.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="/javascripts/bootstrap.min.js"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="/javascripts/metisMenu.min.js"></script>

        <!-- Morris Charts JavaScript -->
        <script src="/javascripts/raphael.min.js"></script>
        <script src="/javascripts/morris.min.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="/javascripts/startmin.js"></script>
        
        <!-- Flot Charts JavaScript -->
        <script src="/javascripts/flot/excanvas.min.js"></script>
        <script src="/javascripts/flot/jquery.flot.js"></script>
        <script src="/javascripts/flot/jquery.flot.pie.js"></script>
        <script src="/javascripts/flot/jquery.flot.resize.js"></script>
        <script src="/javascripts/flot/jquery.flot.time.js"></script>
        <script src="/javascripts/flot/jquery.flot.tooltip.min.js"></script>

        <script>
            $(document).ready(function() {
                //Complaints by priority chart
                $(function() {
                    Morris.Donut({
                        element: 'complaints_by_priority_chart',
                        data: [{
                            label: "Low",
                            value: '<%=data.complaint_priority_count[0].count%>'
                        }, {
                            label: "Normal",
                            value: '<%=data.complaint_priority_count[1].count%>'
                        }, {
                            label: "High",
                            value: '<%=data.complaint_priority_count[2].count%>'
                        }],
                        resize: true
                    });
                });

                //Complaints by status chart
                $(function() {
                    var data = [{
                        label: "Open",
                        data: '<%=data.complaint_status_count[0].count%>',
                        color: '#4fb6ff'
                    }, {
                        label: "Assigned",
                        data: '<%=data.complaint_status_count[4].count%>',
                        color: '#c125f5'
                    }, {
                        label: "Require Confirmation",
                        data: '<%=data.complaint_status_count[2].count%>',
                        color: '#e8c53a'
                    }, {
                        label: "Resolved",
                        data: '<%=data.complaint_status_count[1].count%>',
                        color: '#2ded1f'
                    }, {
                        label: "Rejected",
                        data: '<%=data.complaint_status_count[3].count%>',
                        color: '#f52020'
                    }];

                    var plotObj = $.plot($("#complaints_by_status_chart"), data, {
                        series: {
                            pie: {
                                show: true
                            }
                        },
                        grid: {
                            hoverable: true
                        },
                        tooltip: true,
                        tooltipOpts: {
                            content: "%p.0%, %s", // show percentages, rounding to 2 decimal places
                            shifts: {
                                x: 20,
                                y: 0
                            },
                            defaultTheme: false
                        }
                    });
                });

                //Deadline report
                $(function() {
                    Morris.Bar({
                        element: 'deadline_report',
                        data: [{
                            y: '<%=data.deadline_complaint_report[0].date%>',
                            in_time: '<%=data.deadline_complaint_report[0].in_time%>',
                            missed: '<%=data.deadline_complaint_report[0].missed%>'
                        },{
                            y: '<%=data.deadline_complaint_report[1].date%>',
                            in_time: '<%=data.deadline_complaint_report[1].in_time%>',
                            missed: '<%=data.deadline_complaint_report[1].missed%>'
                        },{
                            y: '<%=data.deadline_complaint_report[2].date%>',
                            in_time: '<%=data.deadline_complaint_report[2].in_time%>',
                            missed: '<%=data.deadline_complaint_report[2].missed%>'
                        },{
                            y: '<%=data.deadline_complaint_report[3].date%>',
                            in_time: '<%=data.deadline_complaint_report[3].in_time%>',
                            missed: '<%=data.deadline_complaint_report[3].missed%>'
                        },{
                            y: '<%=data.deadline_complaint_report[4].date%>',
                            in_time: '<%=data.deadline_complaint_report[4].in_time%>',
                            missed: '<%=data.deadline_complaint_report[4].missed%>'
                        },{
                            y: '<%=data.deadline_complaint_report[5].date%>',
                            in_time: '<%=data.deadline_complaint_report[5].in_time%>',
                            missed: '<%=data.deadline_complaint_report[5].missed%>'
                        },{
                            y: '<%=data.deadline_complaint_report[6].date%>',
                            in_time: '<%=data.deadline_complaint_report[6].in_time%>',
                            missed: '<%=data.deadline_complaint_report[6].missed%>'
                        },{
                            y: '<%=data.deadline_complaint_report[7].date%>',
                            in_time: '<%=data.deadline_complaint_report[7].in_time%>',
                            missed: '<%=data.deadline_complaint_report[7].missed%>'
                        },{
                            y: '<%=data.deadline_complaint_report[8].date%>',
                            in_time: '<%=data.deadline_complaint_report[8].in_time%>',
                            missed: '<%=data.deadline_complaint_report[8].missed%>'
                        },{
                            y: '<%=data.deadline_complaint_report[9].date%>',
                            in_time: '<%=data.deadline_complaint_report[9].in_time%>',
                            missed: '<%=data.deadline_complaint_report[9].missed%>'
                        },{
                            y: '<%=data.deadline_complaint_report[10].date%>',
                            in_time: '<%=data.deadline_complaint_report[10].in_time%>',
                            missed: '<%=data.deadline_complaint_report[10].missed%>'
                        },{
                            y: '<%=data.deadline_complaint_report[11].date%>',
                            in_time: '<%=data.deadline_complaint_report[11].in_time%>',
                            missed: '<%=data.deadline_complaint_report[11].missed%>'
                        },],
                        xkey: 'y',
                        ykeys: ['in_time', 'missed'],
                        labels: ['In-time', 'Missed'],
                        hideHover: 'auto',
                        resize: true
                    });
                })
            });
        </script>
    </body>
</html>
