<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Login</title>

        <!-- Bootstrap Core CSS -->
        <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

        <!-- MetisMenu CSS -->
        <link href="/stylesheets/metisMenu.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="/stylesheets/startmin.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="/stylesheets/font-awesome.min.css" rel="stylesheet" type="text/css">
    </head>
    <body>

        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="login-panel panel panel-default">
                        <% if (typeof error != 'undefined') { %>
                        <div class="panel-heading" style="background-color: #f2dede;">
                            <h3 class="panel-title"><%= error %></h3>
                        </div>
                        <% } else { %>
                        <div class="panel-heading">
                            <h3 class="panel-title">Please Sign In</h3>
                        </div>
                        <% } %>
                        <div class="panel-body">
                            <form role="form" method="POST" action="/authen/login">
                                <fieldset>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Enter Username" name="username" type="text" autofocus>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Enter Password" name="password" type="password" value="">
                                    </div>
                                    <!-- Change this to a button or input when using this as a form -->
                                    <button type="submit" class="btn btn-lg btn-success btn-block">Login</button>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- jQuery -->
        <script src="/javascripts/jquery.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="/javascripts/bootstrap.min.js"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="/javascripts/metisMenu.min.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="/javascripts/startmin.js"></script>
    </body>
</html>
