<% var title = "Manage "+page %>
<% include shared/header.ejs %>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header" style="text-align: center;"><%=page.toUpperCase()%></h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <button type="button" class="btn btn-primary" id="taxonomy_add" style="color:antiquewhite" data-toggle="modal" data-target="#tModal">CREATE <%=page.toUpperCase()%></button>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="table_taxonomy">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <% taxonomies.forEach(function(taxonomy) { %>
                            <tr>
                                <td id="<%=taxonomy.id%>"><%=taxonomy.name%></td>
                                <td>
                                    <button type="button" class="btn btn-success taxonomy_edit" data-toggle="modal" data-target="#tModal">EDIT</button>
                                    <form method="POST" action="/<%=page.toLowerCase()%>/delete" style="display: inline;">
                                        <input type="text" name="id" value="<%=taxonomy.id%>" style="display: none;">
                                        <button type="submit" class="btn btn-danger" id="btn_delete">DELETE</button>
                                    </form>
                                </td>
                            </tr>
                        <% }); %>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<!-- Modal -->
<div class="modal fade" id="tModal" tabindex="-1" role="dialog" aria-labelledby="tModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form id="t_update_form" method="POST">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="tModalLabel">Update <%=page%></h4>
                </div>
                <div class="modal-body">            
                    <div class="form-group input-group">
                        <span class="input-group-addon">Name</span>
                        <input id="t_update_name" class="form-control" type="text" name="name" required/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </form>
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<% include shared/footer.ejs %>

<script>
    $(document).ready(function () {
        $('#table_taxonomy').DataTable({
            columnDefs: [
                {
                    orderable: false,
                    targets: [1]
                }
            ]
        });

        $('.taxonomy_edit').click(function(){
            var id = $(this).closest('tr').find('td:first').attr('id');
            var name = $(this).closest('tr').find('td:first').text();
            $('#t_update_form').attr('action', '/<%=page.toLowerCase()%>/update/'+id);
            $('#t_update_name').val(name);
        });

        $('#taxonomy_add').click(function(){
            $('#t_update_form').attr('action', '/<%=page.toLowerCase()%>/update/0');
            $('#t_update_name').val('');
        });

        $('#t_update_form').submit(function(event) {
            var name = $('#t_update_name').val();
            if(name.trim() == '') {
                event.preventDefault();
                alert('Invalid name');
                return;
            }
        });
    });
</script>