<% var title = "Manage User" %>
<% include shared/header.ejs %>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header" style="text-align: center;">USER</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="/user/add" type="button" class="btn btn-primary" style="color:antiquewhite">CREATE USER</a>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="table_user">
                        <thead>
                        <tr>
                            <th>Username</th>
                            <th>Phone</th>
                            <th>Mail</th>
                            <th>Roles</th>
                            <th>Assigned Complaints</th>
                            <th>Active</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <% users.forEach(function(user) { %>
                            <tr>
                                <td><%=user.name%></td>
                                <td><%=user.field_phone%></td>
                                <td><%=user.mail%></td>
                                <%
                                    user.roles = user.roles.split(',');
                                    var roles = '';
                                    user.roles.forEach(function (val) {
                                        val = val.trim();
                                        if(val != '') roles += '<span>' + val + '</span><br/>';
                                    });
                                %>
                                <td><%-roles%></td>
                                <td><%=user.assigned_complaint_count%></td>
                                <td><%=user.active%></td>
                                <td>
                                    <a href="/user/update/<%=user.id%>" type="button" class="btn btn-success">EDIT</a>
                                    <form method="POST" action="/user/ban" style="display: inline;">
                                        <input type="text" name="id" value="<%=user.id%>" style="display: none;">
                                        <input type="text" name="status" value="<%=user.active%>" style="display: none;">
                                        <% if (user.active == 'Yes') { %>
                                            <button type="submit" class="btn btn-danger" id="btn_delete">BAN</button>
                                        <% } else { %>
                                            <button type="submit" class="btn btn-warning" id="btn_delete">ACTIVATE</button>
                                        <% } %>
                                    </form>
                                </td>
                            </tr>
                        <% }); %>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<% include shared/footer.ejs %>

<script>
    $(document).ready(function () {
        $('#table_user').DataTable({
            columnDefs: [
                {
                    orderable: false,
                    targets: [6]
                }
            ]
        });
    });
</script>