<% var title = "Update User" %>
<% include shared/header.ejs %>

<% {
var roles = ['technician', 'moderator'];
} %>

<%
if(typeof user == 'undefined') {
    var user = {
        id: 0,
        name: '',
        mail: '',
        phone: '',
        department: '',
        occupation: '',
        status: '',
        roles: [],
    }
%>
<div id="p_identify" style="display: none;">add</div>
<%
}
%>


<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">USER</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-6" style="margin-left: 20%;">
        <form method="POST" action="/user/update/<%=user.id%>" id="form_user">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="/user" type="button" class="btn btn-primary" style="color:antiquewhite">BACK</a>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="form-group input-group">
                        <span class="input-group-addon">Username</span>
                        <input type="text" class="form-control" placeholder="Username" name="name" id="name" value="<%=user.name%>" required>
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon">Password</span>
                        <input type="password" class="form-control" placeholder="Passowrd" name="pass" id="pass" <%=(typeof user == 'undefined' ? 'required' : '')%>>
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon">Mail</span>
                        <input type="email" class="form-control" placeholder="Mail" name="mail" id="mail" value="<%=user.mail%>" required>
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon">Phone</span>
                        <input type="number" class="form-control" placeholder="Phone number" name="phone" id="phone" value="<%=user.phone%>" required>
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon">Occupation</span>
                        <input type="text" class="form-control" placeholder="Occupation" name="occupation" id="occupation" value="<%=user.occupation%>">
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon">Department</span>
                        <select class="form-control" name="department" id="department">
                            <option value="0"></option>
                            <% departments.forEach(function(val){ %>
                                <option value="<%=val.id%>" <%=user.department == val.id ? 'selected' : ''%>><%=val.name%></option>                                
                            <% }) %>
                        </select>
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon">Roles</span>
                        <select class="form-control" multiple name="roles" id="roles">
                            <option value="0" selected></option>
                            <% roles.forEach(function(val){ %>
                                <option value="<%=val%>" <%=(user.roles.indexOf(val) != -1 ? 'selected' : '')%>><%=val%></option>                                
                            <% }) %>
                        </select>
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon">Status</span>
                        <select class="form-control" name="status" id="status">
                            <option value="1" <%=(user.status == true ? 'selected' : '')%>>Active</option>
                            <option value="0" <%=(user.status == false ? 'selected' : '')%>>Banned</option>  
                        </select>
                    </div>
                </div>
                <!-- /.panel-body -->
                <div class="panel-footer" style="text-align: end">
                    <button type="submit" class="btn btn-primary">SAVE</button>
                </div>
                <!-- /.panel-footer -->
            </div>
            <!-- /.panel -->
        </form>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<% include shared/footer.ejs %>

<script>
    $(document).ready(function () {
        $('#form_user').submit(function(event) {
            var name = $('#name').val();
            if(name.trim() == ''){
                event.preventDefault();
                alert('Invalid Username');
                return;
            }

            if($('#p_identify').text() == 'add'){
                var pass = $('#pass').val();
                if(pass.trim() == '' || pass.length < 5){
                    event.preventDefault();
                    alert('Invalid Password');
                    return;
                }
            }

            var phone = $('#phone').val();
            if(phone == null){
                event.preventDefault();
                alert('Invalid Phone Number');
                return;
            }

            var mail = $('#mail').val();
            if(mail.trim() == ''){
                event.preventDefault();
                alert('Invalid Mail');
                return;
            }

        });
    });
</script>